// // 헤더 컴포넌트 스타일
@use "../base/variables" as var; // variables를 불러오고 var라는 네임스페이스 지정
@use "../base/mixins" as mix;

// 햄버거 메뉴 토글
#menuToggle {
  input[type="checkbox"].line3 {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 100;

    &:checked {
      & ~ span {
        transform: translateY(-15px) rotate(45deg);
        background: #5b5b5b;

        @include mix.respond(mobile) {
          transform: translateY(-10px) rotate(45deg);
        }
      }

      & ~ span:nth-of-type(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      & ~ span:nth-of-type(3) {
        opacity: 0;
        transform: rotate(45deg) translate(-2px, -1px);
      }

      & ~ ul {
        transform: none;
      }
    }
  }

  span {
    display: block;
    width: var.$hamburger-size;
    height: var.$hamburger-height;
    margin: 0 0 4px 30px;
    background: var.$hamburger-bg;
    opacity: 0.8;
    border-radius: 3px;
    position: relative;
    left: -25px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition:
      transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
  }

  // 767px
  @include mix.respond(mobile) {
    span {
      width: 30px;
    }
  }
}

// 메뉴 전체
#menu {
  width: var.$menu-width;
  height: var.$menu-height;
  position: absolute;
  top: 0;
  left: 0;
  // right: -192px;
  // margin: -100px 0 0 0;
  padding: 150px 0;
  list-style: none;
  background: var.$menu-bg;
  font-weight: 300;
  transform-origin: 0 0;
  // transform: translate(100%, 0);
  transform: translate(-100%, 0); // 화면 왼쪽으로 숨김
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  // 1024px
  @include mix.respond(tablet) {
    width: 100%;
  }

  // 767px
  @include mix.respond(mobile) {
    width: 100%;
  }

  @include mix.respond(mobile-s) {
    // width: 500px;
  }
}

// CSS Menu
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

#cssmenu {
  width: 100%;

  li {
    border-bottom: 1px solid #e7e7e7;
    line-height: 3em;

    // &.active > ul {
    //   display: block;
    // }

    > a {
      padding: 16px 22px;
      font-size: var.$menu-font;
      font-weight: 700;
      color: #222;
      text-decoration: none;
      transition: color 0.2s ease;
      z-index: 2;

      // 767px
      @include mix.respond(mobile) {
        font-size: 18px;
      }
    }
  }
}
