// reset, global style
@use "variables" as var;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Slab", sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  //line-height: 18px;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;

  // .title {
  //   font-family: "Roboto Slab";
  //   font-weight: 300;

  //   h2 {
  //     font-weight: 300;
  //     font-size: 90px;
  //     z-index: 999;

  //     p {
  //       font-size: 60px;
  //     }
  //   }
  // }
}

button,
dt,
dd,
p {
  font-family: "Roboto Slab", sans-serif;
}

/* #container {
  width: 100%;
  _margin: 0 20px;
  box-sizing: border-box; 
  overflow-wrap: break-word;
} */

// #container {
//   width: 100%;
//   float: none !important;
//   margin: 0 auto !important;
//   overflow-wrap: break-word;
// }

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.cf::after {
  display: block;
  content: "";
  clear: both;
}
.fixedclear:after {
  display: block;
  content: "";
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: none;
}

/*weight*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.w16 {
  width: 1600px;
  margin: 0 auto;
}
.w18 {
  width: 1800px;
  margin: 0 auto;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;
}

@media (max-width: 1024px) {
  :root {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}
